# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/andriod/database.rules.json
/ios/*
/windows/*
android/app/google-services.json
devtools_options.yaml
lib/firebase_options.dart
macos/Podfile

/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
/ios/Runner.xcodeproj/project.pbxproj
/ios/Runner.xcworkspace/contents.xcworkspacedata
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/macos/Flutter/GeneratedPluginRegistrant.swift
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake